In [1]:
#import libraries
import pandas as pd

In [2]:
# Loading .csv file of Zomato data using pandas
df_data = pd.read_csv(r"C:\Users\Samir\OneDrive\Desktop\pyzomato.csv", encoding ='unicode_escape')
print(df_data)

      RestaurantID                 RestaurantName  CountryCode       City  \
0          7402935                           Skye           94    Jakarta
1          7410290       Satoo - Hotel Shangri-La           94    Jakarta
2          7420899                     Sushi Masa           94    Jakarta
3          7421967                 3 Wise Monkeys           94    Jakarta
4          7422489    Avec Moi Restaurant and Bar           94    Jakarta
...            ...                            ...          ...        ...
6253      17330155                       Deorio's          216   Columbus
6254      17582499                    Royal Hotel          216  Pocatello
6255      17284302  El Vaquero Mexican Restaurant          216     Albany
6256      17342548  Happy Joe's Pizza & Ice Cream          216    Dubuque
6257      17284105                  Cookie Shoppe          216     Albany

                           Locality   Longitude   Latitude  \
0     Grand Indonesia Mall, Thamrin  106.821999  -6.196778
1        Hotel Shangri-La, Sudirman  106.818961  -6.203292
2                       Penjaringan  106.800144  -6.101298
3                          Senopati  106.813400  -6.235241
4                           Thamrin  106.821023  -6.196270
...                             ...         ...        ...
6253                       Columbus  -84.942700  32.481000
6254               Lava Hot Springs -112.012700  42.619200
6255                         Albany  -84.219400  31.615800
6256                        Dubuque  -90.726400  42.495500
6257                         Albany  -84.154000  31.577200

     Country.Countryname                    Cuisines                Currency  \
0              Indonasia        Italian, Continental  Indonesian Rupiah(IDR)
1              Indonasia  Asian, Indonesian, Western  Indonesian Rupiah(IDR)
2              Indonasia             Sushi, Japanese  Indonesian Rupiah(IDR)
3              Indonasia                    Japanese  Indonesian Rupiah(IDR)
4              Indonasia             French, Western  Indonesian Rupiah(IDR)
...                  ...                         ...                     ...
6253       United States              Italian, Pizza               Dollar($)
6254       United States             Pizza, Bar Food               Dollar($)
6255       United States                     Mexican               Dollar($)
6256       United States  Desserts, Pizza, Ice Cream               Dollar($)
6257       United States                         NaN               Dollar($)

      ... Day Quarter Months Name Week of Month  Financial Quarters  USD Rate  \
0     ...   2      Q2         May             1                 FQ1  0.000067
1     ...  23      Q4         Oct             4                 FQ3  0.000067
2     ...  19      Q3         Aug             4                 FQ2  0.000067
3     ...  17      Q4         Nov             4                 FQ3  0.000067
4     ...  14      Q4         Nov             3                 FQ3  0.000067
...   ...  ..     ...         ...           ...                 ...       ...
6253  ...  26      Q1         Mar             5                 FQ4  1.000000
6254  ...  15      Q1         Mar             3                 FQ4  1.000000
6255  ...  23      Q1         Jan             4                 FQ4  1.000000
6256  ...   4      Q1         Jan             1                 FQ4  1.000000
6257  ...  20      Q4         Oct             4                 FQ3  1.000000

      Indian rupees          RestaurantName - Copy Day of Week  USD_Dollars
0               496                           Skye           5           54
1               497       Satoo - Hotel Shangri-La           4           54
2               498                     Sushi Masa           1           34
3               498                 3 Wise Monkeys           1           30
4               498    Avec Moi Restaurant and Bar           2           23
...             ...                            ...         ...          ...
6253       17330155                       Deorio's           1            0
6254       17582499                    Royal Hotel           3            0
6255       17284302  El Vaquero Mexican Restaurant           6            0
6256       17342548  Happy Joe's Pizza & Ice Cream           3            0
6257       17284105                  Cookie Shoppe           4            0

[6258 rows x 30 columns]

In [3]:
# Data Cleaning (Zomato data)
#check the datatype
df_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6258 entries, 0 to 6257
Data columns (total 30 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   RestaurantID           6258 non-null   int64
 1   RestaurantName         6258 non-null   object
 2   CountryCode            6258 non-null   int64
 3   City                   6258 non-null   object
 4   Locality               6258 non-null   object
 5   Longitude              6258 non-null   float64
 6   Latitude               6258 non-null   float64
 7   Country.Countryname    6258 non-null   object
 8   Cuisines               6249 non-null   object
 9   Currency               6258 non-null   object
 10  Has_Table_booking      6258 non-null   object
 11  Has_Online_delivery    6258 non-null   object
 12  Is_delivering_now      6258 non-null   object
 13  Switch_to_order_menu   6258 non-null   object
 14  Price_range            6258 non-null   int64
 15  Votes                  6258 non-null   int64
 16  Average_Cost_for_two   6258 non-null   int64
 17  Rating                 6258 non-null   float64
 18  Datekey_Opening        6258 non-null   object
 19  Year                   6258 non-null   int64
 20  Day                    6258 non-null   int64
 21  Quarter                6258 non-null   object
 22  Months Name            6258 non-null   object
 23  Week of Month          6258 non-null   int64
 24  Financial Quarters     6258 non-null   object
 25  USD Rate               6258 non-null   float64
 26  Indian rupees          6258 non-null   int64
 27  RestaurantName - Copy  6258 non-null   object
 28  Day of Week            6258 non-null   int64
 29  USD_Dollars            6258 non-null   int64
dtypes: float64(4), int64(11), object(15)
memory usage: 1.4+ MB

In [4]:
# Check the Null Values
print(df_data.isnull().sum())

RestaurantID             0
RestaurantName           0
CountryCode              0
City                     0
Locality                 0
Longitude                0
Latitude                 0
Country.Countryname      0
Cuisines                 9
Currency                 0
Has_Table_booking        0
Has_Online_delivery      0
Is_delivering_now        0
Switch_to_order_menu     0
Price_range              0
Votes                    0
Average_Cost_for_two     0
Rating                   0
Datekey_Opening          0
Year                     0
Day                      0
Quarter                  0
Months Name              0
Week of Month            0
Financial Quarters       0
USD Rate                 0
Indian rupees            0
RestaurantName - Copy    0
Day of Week              0
USD_Dollars              0
dtype: int64

In [5]:
df_data['Cuisines']

0             Italian, Continental
1       Asian, Indonesian, Western
2                  Sushi, Japanese
3                         Japanese
4                  French, Western
                   ...
6253                Italian, Pizza
6254               Pizza, Bar Food
6255                       Mexican
6256    Desserts, Pizza, Ice Cream
6257                           NaN
Name: Cuisines, Length: 6258, dtype: object

In [6]:
# Example DataFrame
data = {'Cuisines': ['Italian, Chinese, Indian', 'Mexican, Thai', 'Indian, American']}
df = pd.DataFrame(data)

In [7]:
# Split the Cuisines column into multiple columns
df_split = df['Cuisines'].str.split(',', expand=True)

In [8]:
print(df_split)

         0          1        2
0  Italian    Chinese   Indian
1  Mexican       Thai     None
2   Indian   American     None

In [9]:
#Checking to eliminate unnecessary column 
df_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6258 entries, 0 to 6257
Data columns (total 30 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   RestaurantID           6258 non-null   int64
 1   RestaurantName         6258 non-null   object
 2   CountryCode            6258 non-null   int64
 3   City                   6258 non-null   object
 4   Locality               6258 non-null   object
 5   Longitude              6258 non-null   float64
 6   Latitude               6258 non-null   float64
 7   Country.Countryname    6258 non-null   object
 8   Cuisines               6249 non-null   object
 9   Currency               6258 non-null   object
 10  Has_Table_booking      6258 non-null   object
 11  Has_Online_delivery    6258 non-null   object
 12  Is_delivering_now      6258 non-null   object
 13  Switch_to_order_menu   6258 non-null   object
 14  Price_range            6258 non-null   int64
 15  Votes                  6258 non-null   int64
 16  Average_Cost_for_two   6258 non-null   int64
 17  Rating                 6258 non-null   float64
 18  Datekey_Opening        6258 non-null   object
 19  Year                   6258 non-null   int64
 20  Day                    6258 non-null   int64
 21  Quarter                6258 non-null   object
 22  Months Name            6258 non-null   object
 23  Week of Month          6258 non-null   int64
 24  Financial Quarters     6258 non-null   object
 25  USD Rate               6258 non-null   float64
 26  Indian rupees          6258 non-null   int64
 27  RestaurantName - Copy  6258 non-null   object
 28  Day of Week            6258 non-null   int64
 29  USD_Dollars            6258 non-null   int64
dtypes: float64(4), int64(11), object(15)
memory usage: 1.4+ MB

In [10]:
#Drop the unnecessary columns
df_data.drop(['Locality','Longitude','Latitude','Switch_to_order_menu','RestaurantName - Copy'],axis=1,inplace=True)

In [11]:
df_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6258 entries, 0 to 6257
Data columns (total 25 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   RestaurantID          6258 non-null   int64
 1   RestaurantName        6258 non-null   object
 2   CountryCode           6258 non-null   int64
 3   City                  6258 non-null   object
 4   Country.Countryname   6258 non-null   object
 5   Cuisines              6249 non-null   object
 6   Currency              6258 non-null   object
 7   Has_Table_booking     6258 non-null   object
 8   Has_Online_delivery   6258 non-null   object
 9   Is_delivering_now     6258 non-null   object
 10  Price_range           6258 non-null   int64
 11  Votes                 6258 non-null   int64
 12  Average_Cost_for_two  6258 non-null   int64
 13  Rating                6258 non-null   float64
 14  Datekey_Opening       6258 non-null   object
 15  Year                  6258 non-null   int64
 16  Day                   6258 non-null   int64
 17  Quarter               6258 non-null   object
 18  Months Name           6258 non-null   object
 19  Week of Month         6258 non-null   int64
 20  Financial Quarters    6258 non-null   object
 21  USD Rate              6258 non-null   float64
 22  Indian rupees         6258 non-null   int64
 23  Day of Week           6258 non-null   int64
 24  USD_Dollars           6258 non-null   int64
dtypes: float64(2), int64(11), object(12)
memory usage: 1.2+ MB

In [12]:
#to change the datatype 1st replace the _ with -
df_data['Datekey_Opening']=df_data['Datekey_Opening'].str.replace('_','-')
df_data['Datekey_Opening']

0       02-05-2014
1       23-10-2014
2       19-08-2013
3       17-11-2014
4       14-11-2017
           ...
6253    26-03-2012
6254    15-03-2017
6255    23-01-2016
6256    04-01-2017
6257    20-10-2011
Name: Datekey_Opening, Length: 6258, dtype: object